.profile{
    border: 2px solid lightgray;
    width: 25%;
    box-sizing: content-box;
    border-radius: 10px;
    margin: 50px auto;

}
.font-style1{
    font-family: sans-serif;
    font-weight: 500;
}
.padding{
    padding-left: 20px;
}
.p-style{
   color: rgb(128, 128, 128);
}

.pro-avatars img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0.2px solid gray;
    object-fit: cover;
    margin: 20px;
    margin-bottom: 5px;
}