.box{
    background-color: white;
    width: 350px;
    height: 500px;
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
}

.bg{
    height: 200px;
    width: 350px;
    border-radius: 20px;
}
.min{
    border: 1px solid white;
    color: rgb(54, 54, 54);
    position: absolute;
    right: 18px;
    margin-top: -40px;
    background-color: white;
    border-radius: 6px;
    padding: 2px;
}

.off{
    background-color: rgb(50, 97, 162);
    color: white;
    position: absolute;
    margin-top: -40px;
    padding: 2px;

}
.pro{
    position:absolute;
    background-color: rgb(199, 188, 188);
    color: black;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    padding: 4px;
    height: 15px;
}
.content{
    position: absolute;
    color: grey;
    font-size: small;
    margin: 10px;
}
.rest-name{
    margin-top: -10px;
}

.rest-type{
    font-size: 18px;
    margin-top: 10px;
    margin-top: -10px;
}

.box hr{
    margin: 80px 10px;
    color: grey;
}

.safe-img{
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 150px;
    margin-left: 10px;
}
.safety-text{
    position: absolute;
    bottom: 80px;
    padding: 50px;
    left: 80px;
    color: grey;
}