.box{
    text-align: center;
    margin: 150px auto;
    position: relative;
}
.bg{
    width: 800px;
    height: 400px;
}
.content{
    position: absolute;
    bottom: 200px;
    left: 500px;
    color: white;
}
.fn-size-h1{
    font-size: 3rem;
    margin: -5px;
}

.inp{
    width: 275px;
    position: absolute;
    left: 175px;
    height: 30px;
    border-radius: 5px;
    border: 0 solid white;
    padding: 5px;
}

.srcicon{
    width: 30px;
    position: absolute;
    left: 155px;
    height: 40px;
    border-radius: 5px;
    border: 0 solid white;
    padding: 5px;
    background-color: white;
    margin: 0 -5px;
    color: rgb(120, 120, 120);
}